@model SegurosPacifico.Models.Salarios

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar de Lista</h1>

<h3>Seguro que deseas eliminar a este empleado del registro de salarios?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasNormales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasNormales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasExtra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioBruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deducciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deducciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioNeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioNeto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
