@model SegurosPacifico.Models.Salarios

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de Empleado</h1>

<div>
    <h4>Salarios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasNormales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasNormales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasExtra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioBruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deducciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deducciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioNeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioNeto)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new {@class="btn btn-warning"}) |
    <a asp-action="Index">Volver a la lista</a>
</div>
